name: SEO checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  seo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install
        run: npm ci
      - name: Validate locales
        run: npm run validate-locales
      - name: Validate SEO
        env:
          NEXT_PUBLIC_SITE_URL: ${{ secrets.SITE_URL }}
        run: npm run validate-seo
